.content-icon img{
    height: 270px;
    width: 270px;
}

.content-page{
    background-color: rgba( 255, 255, 255, 0.6 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
}

.content-fomation-item{
    flex: 1;
    min-height: 500px;
}

.formation-option{
    min-height: 300px;
    border: 2px dashed #DDDDDD;
    background-color: rgba( 255, 255, 255, 0.8 );
}

.formation-option .item-title{
    color: #000000;
    font-weight: 600;
}

.formation-option .item-icon{
    background-color: #FFFFFF;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 0.8em;
    font-weight: bold;
}

.formation-option .item-text{
    color: #000000;
    font-weight: 600;
    font-size: 0.95em;
}

.formation-option .item-text img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 4px;
}

.formation-option .btn:focus,
.formation-option .btn{
    background-color: #FFFFFF;
    color: var( --dark );
    font-size: 0.75em;
    letter-spacing: 0.12em;
    box-shadow: none;
}

.formation-option:nth-child( 2n + 1 ) {
    border: none;
    border-bottom: 4px solid var( --dark-purple );
}

.formation-option:nth-child( 2n + 1 ) .item-title{
    color: var( --dark-purple );
}

.formation-option:nth-child( 2n + 1 ) .item-icon,
.formation-option:nth-child( 2n + 1 ) .btn,
.formation-option:nth-child( 2n + 1 ) .btn:focus{
    background-color: var( --dark-purple );
    color: #FFFFFF;
    font-weight: 600;
}

.formation-option:nth-child( 2n ) {
    border: none;
    border-bottom: 4px solid var( --pink );
}


.formation-option:nth-child( 2n ) .item-title{
    color: var( --pink );
}

.formation-option:nth-child( 2n ) .item-icon,
.formation-option:nth-child( 2n ) .btn,
.formation-option:nth-child( 2n ) .btn:focus{
    background-color: var( --pink );
    color: #FFFFFF;
    font-weight: 600;
}

.end-of-page{
    background-color: #EEEEEE;
    min-height: 40px;
    font-size: 0.9em;
}